/* This part of the stylesheet will be used to modify the styles of contact.html */

.contactMethod {
    font-weight: bold;
    text-align: center;
    float: left;
    display: inline;
    width: 50%;
}

#mail {
    margin-left: 20%;
    margin-right: 20%;
}

#mailLink {
    text-align: center;
    font-size: 25px;
}

#mailtoLink {
    text-decoration: none;
    animation-name: mailAddressMain;
    animation-duration: 3s;
    cursor: default;
}

#mailtoLink span {
    animation-name: mailAddressSpan;
    animation-duration: 3s;
}

@keyframes mailAddressMain {
    0%   {color: black;}
    100%  {color: white;}
}

@keyframes mailAddressSpan {
    0%   {color: black;}
    100%  {color: gray;}
}

#pgpKeyLink {
    text-align: center;
    font-size: 12px;
}

#pgpKeyLink a {
    animation-name: pgpKey;
    animation-duration: 5s;
}

@keyframes pgpKey {
    0%   {color: black;}
    100%  {color: white;}
}

@media screen and (max-width: 1024px) {
    .header {
        margin-left: 5%;
        margin-right: 5%;
    }
    #mail {
        margin-left: 0%;
        margin-right: 0%;
    }
}

/* Starting here, these styles are supposed for docs/contact/pgp-key.html */

#informationForPGP{
    margin-left: 10%;
    margin-right: 10%;
}
#pgpKeyServerLink {
    color: #4aa3ff;
}

#pgpKeyServerLink:hover {
    text-decoration: underline dashed !important;
}

#pgpKey {
    text-align: center;
    font-family: monospace;
}

#buttonContainer {
    position: relative;
    height: 50px;
    margin-top: -10px;
    cursor: default;
}
#buttonContainer button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Background color for JS-Enabled devices (default) can be modified at js/copyPGPKey.js */
    background-color: #0091ff44;
    cursor: not-allowed;
    /* End of not JS-Enabled devices rules */
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#buttonContainer button span {
    margin: 5px;
    color: white;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    #pgpKey {
        visibility: hidden;
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
    #informationForPGP {
        margin-left: 5%;
        margin-right: 5%;
    }
}