#achievements:hover {
    text-decoration: underline wavy !important;
}

#experience:hover {
    text-decoration: underline dashed !important;
}

#contactInfo:hover {
    text-decoration: underline dotted !important;
}

#moreAbtMe:hover {
    text-decoration: underline double !important;
}

.mainLink{
    text-align: center;
    float:left;
    display:inline;
    width: 50%; 
    font-size: 22px;
}

#myPicture {
    width: 200px;
    height: auto;
    float: left;
    clear: left;
}

#myName {
    font-weight: bold;
}

.information {
    margin-left: 23%;
    margin-right: 23%;
}

#hiddenLine {
    visibility: hidden;
}

@media screen and (max-width: 1024px) {
    .information {
        text-align: center;
    }
}

@media screen and (max-width: 428px) {
    .informationText {
        margin-left: -25%;
        margin-right: -25%;
    }
    #hiddenLine {
        visibility: visible;
        width: 100%;
        clear: both; 
        margin: inherit;
        position: relative;
        top: 10px;
    }
    #mejpg {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #myName {
        padding-top: 5px;
    }
    #finalLine {
        margin-bottom: 50px;
        clear: both;
    }
    .mainLink {
        display: block;
        width: 100%;
    }
}