body {
    background-color: black;
}

html body, a {
    color: white;
    font-family: "Helvetica Neue";
}

pre {
    color: white;
}

.webLink:hover {
    text-decoration: underline !important;
}

.webLink {
    text-decoration: none !important;
}

.header {
    text-align: center;
}

.isOnFooterPage {
    color: #424B50;
}

.footerLine {
    width: 50%; 
    height: 3px; 
    border: none; 
    background-color: #545B67;
}

.basicLine {
     width: 85%;
     height: 5px;
     border: none;
     background-color: white;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue";
}

.goBackLink p {
    text-align: center;
    color: grey;
}

.goBackLink {
        text-decoration: none;
}
    
.goBackLink:hover p {
        text-align: center;
        color: white;
}
    
.goBackLink p:hover::before {
        content: '← ';
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 1024px) {
    .goBackLink p::before {
        content: '← ';
    }
}