li {
    font-size: 18px;
}

.information {
    margin-left: 20%;
    margin-right: 20%;
}

#koreanHello {
    text-decoration: underline dotted;
    cursor: pointer;
}

#generalList {
    list-style-type: square;
}

#funFactList {
    list-style-type: '✨';
}

#funFactList > li {
    text-decoration: underline dotted;
    cursor: pointer;
}

.information > h3 > span {
    font-size: 12px;
}

@media screen and (max-width: 1024px) {
    .information {
        margin-left: 5%;
        margin-right: 5%;
    }
    .header {
        margin-left: 5%;
        margin-right: 5%;
    }
}