/* 
This is the style sheet that is used to apply style to the projects
listed on projects.html page ONLY
*/

.catchphrase {
    font-style: italic;
}

.title,
p>span {
    font-weight: bold;
}

.projectLink {
    color: grey;
    text-decoration: none;
}
    
.projectLink:hover p::after {
        content: ' →';
}

.projectLink:hover {
    color: white;
}

.project {
    margin-left: 20%;
    margin-right: 20%;
}

.projectThumbnail {
    float: right;
    width: 250px;
    max-width: 100%;
    margin-bottom: 0.4rem;
    clear: both;
    padding-left: 50px;
}

.projectTitle {
    margin-top: 10px;
    padding-top: 25px;
}

.projectLine {
    width: 65%;
    height: 5px;
    border: none;
    background-color: white;
}

#githubStats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .header {
        margin-left: 5%;
        margin-right: 5%;
    }
    .projectLink p::after {
        content: ' →';
    }
    .project {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 500px) {
    .project p, .projectTitle {
        text-align: center;
    }
    #githubStats {
        max-width: 90%;
    }
    .project {
        margin-left: 20%;
        margin-right: 20%;
    }
}